* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: aliceblue;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    margin: auto;
    background-color: rgb(24, 24, 24);
    overflow: hidden;
    align-items: center;
    justify-items: center;
    z-index: 1;
}

.header-content {
    max-width: 1200px;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    float: left;
    height: 100px;
}

.img-logo {
    width: 100px;
}
	


.container-cover {
    width: 100%;
    height: 400px;
    position: relative;
    margin-bottom: 50px;
    background-image: url(fotos/portada.png);
    background-position: center;
    background-size: cover;

}

.container-info-cover {
    margin: auto;
    padding: 100px;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:aliceblue;

}

.container-info-cover img{
    position: relative;
    display: flex;
}

.boton-portada {
    width: 300px;
}
