*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
}

.categorias{
    display: flex;
    justify-content: center;
    margin-top: 25vh;
}

.categories-details{
    background-color: rgb(63, 100, 49);
    width: 18vw;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 1vh 4vh;
}

.categories-details summary{
    font-weight: 700;

}

.categories-details--interno{
    font-size: 22px;
}

.categories-details--interno:nth-child(2){
    margin-top: 1vh;
}


.categories-details--interno:nth-child(4){
    margin-bottom: 2vh;
}


.categories-details--interno summary{
    border: solid 2px #000;
border-radius: 10px;
background-color: rgb(0, 85, 255);
}

details ul{
    font-size: 20px;
    padding: 1vh 2vw;
}

details ul li{
    margin-bottom: 0.5vh;
}
 details ul li label{
    cursor: pointer;
 }

 .categories-details--interno summary{
     cursor: pointer;
     list-style: none;
     padding: 0.5vh;
     padding-left: 1vw;
     margin-top: 0.25vh;
 }

 .precio{
     display: flex;
     list-style: none;
     justify-content: center;
 }

 details h6{
text-align: center;
}



#min,
#max{
width: 6vw;
border-radius: 50px;
padding: 0.2vh 0vw 0.3vh 0.4vw;
}
 @media screen and (max-width: 600px) and (orientation: portrait){
     html{
         overflow-x: hidden;
     }
     .categories-details summary{
         display: block;
         
     }
     .categories-details--interno summary{
         display: inline-block;
     }

     .categories-details{
         width: 100vw;
         text-align: center;
     }

     .categories-details--interno summary{
         width: 75vw;
        
     }
     .categories-details--interno ul{
        list-style: none;
     }

     .precio input{
         width: 20vw !important;
         margin: 0 1vw;
     }
 }